<h1 class="big-title">Podcast</h1>

<% if podcast %>
	<div id="podcast">
			<h2><%= podcast.title %></a></h2>
			<% if session[:user] %>
				<% if !subscriber %>
					<button data-SUB = "False"  data-ID ="<%=podcast.id %>" class = 'subs_button'>Subscribe</button>
				<%else %>
					<button data-SUB = "True"  data-ID ="<%=podcast.id %>" class = 'subs_button'>Unsubscribe</button> 
				<% end %>
				<%= javascript "subs_ajax", async: true %>		
		
			<%end %>
			<p><a href="<%= podcast.url %>"><%= podcast.url %></a></p>
			<p><%= podcast.description %></p>
			<ol style="list-style: none;" reversed>
				<% if episodes %>
					<% episodes.each do |episode| %>
						<li><button class="acPlayer"  data-audio="<%= episode.enclosure_url %>" data-img ="<%= image_url %>"  ><%= episode.title %></li>
					<% end %>
				<% end %>
			</ol>
	</div>
<% else %>
	<p class="placeholder">Invalid podcast ID.</p>
<% end %>
