<section id="podcasts">
	<% if podcasts %>
		<% podcasts.each do |podcast| %>
			<% if podcast.image_url %>
			<div class="podcast-container" style="background-image: url(<%= podcast.image_url %>);">
			<% else %>
			<div class="podcast-container" style="background-color: <%= random_color %>;">
			<% end %>
				<div class="podcast-text">
					<% if podcast.title %>
						<h3><%= podcast.title %></h3>
					<% end %>

					<% if podcast.desc %>
						<p><%= ellide podcast.desc.lstrip, 100 %></p>
					<% end %>
					<a class="button" href="<%= Web.routes.path(:show_podcast, id: podcast.id) %>"><span class="fa fa-search"></span></a>
				</div>
			</div>
		<% end %>
	<% end %>
</section>