<section id="podcast" style="background-color: <%= random_color %>;">
	<% if podcast.image_url or podcast.title %>
		<header id="podcast-header">
			<% if podcast.image_url %>
				<img src="<%= podcast.image_url %>" alt="[podcast image]">
			<% end %>

			<% if podcast.title %>
				<h2><%= podcast.title %></h2>
			<% end %>
		</header>
	<% end %>

	<% if podcast.desc %>
		<p><%= podcast.desc %></p>
	<% end %>

	<% if episodes %>
		<div id="episodes">
			<% episodes.each do |episode| %>
				<div class="episode-container">
					<% if episode.title %>
						<h4><%= episode.title %></h3>
					<% end %>
					<% if episode.desc %>
						<p><%= episode.desc %></h3>
					<% end %>
					<% if episode.media_url %>
						<a href="<%= episode.media_url %>">Listen!</a>
					<% end %>
				</div>
			<% end %>
		</div>
	<% end %>
</section>