<!doctype html>
<html class="no-js" lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Web</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <%= favicon %>

        <%= stylesheet "https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" %>
        <%= javascript "https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" %>
        <%= javascript "https://use.fontawesome.com/8e9e62f655.js" %>
        <%= stylesheet "stryle", "main" %>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="main-container">
            <%= yield %>
            <div id="playerbar" class="playerbar">
            	<audio id="podcastAudio" preload="true">
            		<source src="" type="audio/mpeg">
            	</audio>
            	<div id="audioplayer">
            		<img src="">
            		<button id="playButton" class="play"></button>
            		<div id="timeline">
            			<div id="marker" class="hexagon"></div>
            		</div>
            		<div id="timestamp"></div>
            	</div>
            </div>
        </div>
        <%= javascript "addPlayer" %>
        
        <%= javascript "http://code.jquery.com/jquery-1.12.4.min.js" %>
        <%= javascript "jquery.js" %>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <%= javascript "analytics.js" %>
        <%= javascript "https://www.google-analytics.com/analytics.js", async: true, defer: true %> 
   </body>
</html>
